header {
  align-items: center;
  & .fas.fa-arrow-left {
    font-size: 1.2rem;  
    position: relative;
    left: -50px;
  }
}

.menu {
  position: relative;
  &-container {
    background: $pages-color;
    position: relative;
    top: 232px;
    border-radius: 35px 35px 0 0;
  }
/*image de fond*/
  &__plat3 {
    object-fit: cover;
    position: absolute;
    height: 290px;
    width: 100%
  }

  &-heading {
    @include menu-heading;
    & .fas.fa-heart {
      @include heart-icon; 
      top: -12px;
    }
  }

    & h2 {
      font-family: shrikhand;
    }

    &-subtitle {
    @include menus-subtitles;
    }
}

.all-menus {
  display: flex;
  align-items: center;
  flex-direction: column;
  ul {
    @include standard-btn;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 93%;
    padding: 10px 5px 10px 15px ;
    background-color: #fff;
    box-shadow: 5px 10px 10px rgba(212, 212, 212, 0.5);
    border-radius: 15px;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 3s; 
    > li {
      position: relative;
    }
  }

  /* intitulés en gras*/
  & .heading--bold {
    display: flex;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
  }

  & .meal__entitled--price {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: width 0.2s;
    & :hover {
      width: 90%;
    }
  }

  .meal__entitled--price p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: width 0.2s;
    & :hover {
      width: 90%;
    }
  }

  
  & .price {
    padding-right: 15px;
    font-weight: bold;
    }
   

  & .check-btn {
  @include check-btn;
  display: none;
  }

  & .fas.fa-check-circle {
    @include check-icon;
  }
}

.order-container {
  padding: 50px;
  display: flex;
  justify-content: center;
}
  .btn--colorful {
    @include colorful-btn($list-color);
    font-size: 1rem;
    letter-spacing: 0.02rem;
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
    position: relative;
    top: -30px;
  }

.footer {
  position: relative;
  top: 232px;
}