
header {
  align-items: center;
  & .fas.fa-arrow-left {
    font-size: 1.2rem;  
    position: relative;
    left: -50px;
  }
}

.menu {
  position: relative;
  &-container {
    background: $pages-color;
    position: relative;
    top: 232px;
    border-radius: 35px 35px 0 0;
  }

  /*image de fond*/
  &__plat3 {
    object-fit: cover;
    position: absolute;
    height: 290px;
    width: 100%
  }

  &-heading {
    @include menu-heading;
    & .fas.fa-heart {
      @include heart-icon; 
      top: -12px;
    }
  }

  & h2 {
    font-family: "shrikhand";
  }

  &-subtitle {
    @include menus-subtitles;
  }
}

.all-menus {
  display: flex;
  align-items: center;
  flex-direction: column;
  ul {
    @include standard-btn;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 93%;
    padding: 10px 10px 10px 15px ;
    background-color: #fff;
    box-shadow: 5px 10px 10px rgba(212, 212, 212, 0.5);
    border-radius: 15px;
    transition: width 1s;
    &:hover {
      cursor: pointer;
      &.meal__container {
        width: 210px;
      }
      & .meal__entitled {
        width: 210px;
      }
      & .meal__price {
       transform: translate(-50px);
      }
      & .check-btn {
        transform: translate(0);
      }
      & .fas.fa-check-circle {
        animation: rotate 1s;
      }
    }
  
    & .meal__container {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: width 1s ease-in-out;
    }
  
    /*titre plat*/
    & .meal__heading {
      font-weight: bold;
      transition: width 1s ease-in-out;
    }

    /*description plat*/
    & .meal__entitled {
      font-size: 14px;
      line-height: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      transition: width 0.2s ease-in-out;
    }

    /*prix*/
    & .meal__price {
      display: flex;
      align-items: flex-end;
      margin: 2px 15px 2px 10px;
      font-weight: bold;
      transition: transform 0.2s ease;
    }
  }

    /*animation apparition ul menus*/
  & .meal--one {
    animation: fade1 1.2s 3s;
  }

  & .meal--two {
    animation: fade2 1.4s 3.1s;
  }

  & .meal--three {
    animation: fade3 1.6s 3.2s;
  }
   
  /*bouton vert -> slide au hover*/
  & .check-btn {
    @include check-btn;
    margin-right: 1px;
    top: 0; 
    right: -1px;
    transform: translateX(73px);
    transition: transform 0.2s ease;
  }

  /*animation logo coche -> rotation*/
  & .fas.fa-check-circle {
    @include check-icon;
    transform: rotate(0);
    transition: 0.1s cubic-bezier(.31,1.22,.43,.69);
  }

  /*bouton commander*/
  .order-container {
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  .btn--colorful {
    @include colorful-btn($list-color);
    font-size: 1rem;
    letter-spacing: 0.02rem;
    padding-left: 3.4375rem;
    padding-right: 3.4375rem;
    position: relative;
    top: -30px;
  }
}

  .footer {
    position: absolute;
    width: 100%;
    bottom: -993px;
    }
