

footer {
  padding: 1.25rem 1.875rem 1.5625rem;
  line-height: 1.8rem;
  background-color: $footer-background;
  color: $text-color;
  .footer__heading {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  } 
  .fa > i {
    display: flex;
    padding-right: 0.625rem;
    }
  .fas.fa-utensils > p {
      padding-left: 1rem;
    }
  .footer__byline {
    padding-left: 0.625rem;
    font-weight: initial;
  }
  .footer__link {
    color: $text-color;
  }
  animation: body-fade-out 3s ease;
}