.search {
  &-container {
    border-top: rgb(207, 207, 207) 2px solid;
  }
    &-form {
      padding: 0.3125rem;
      display: flex;
      &__container {
          position: relative;
          width: 100%;
          padding: 0.9375rem 0.5rem;
          display: flex;
          justify-content: center;
          background-color: #eaeaea;
          border-top: solid rgba(212, 212, 212, 0.5);
          & .fa.fa-map-marker {
            font-size: 1.1rem;
            position: relative;
            top: -1px;
            left: 11px;
          }
      }
   }
}

#research {
  width: 55%;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  border: none;
  background-color: #eaeaea;
  padding-left: 1.5625rem;
  }


