

/*animation apparition du main après loading spinner*/ 
.fade-out {
  animation: body-fade-out 3s ease;
}

/*loading spinner*/
.loader-container {
  display: flex;
  justify-content: center;
  position: relative;
  & i.miam {
    position: absolute; 
    top: 270px; 
    font-size: 2.8rem;
    visibility: hidden;
    animation: miam 2.9s;
  }
}

.loading1 {
  @include loading-spinner;
}

.loading2 {
  @include loading-spinner;
  &::after {
    content: "";
    width: 170px;
    height: 170px;
    margin-top: 205px;
    border-top-color: $primary-color;
    border-bottom-color: $secondary-color;
    animation: spin2 cubic-bezier(.26,1.36,.74,-0.29) 3s;
  }
}

.loading3 {
  @include loading-spinner;
  &::after {
    content: "";
    width: 160px;
    height: 160px;
    margin-top: 210px;
    border-top-color: $ring-top-color;
    border-bottom-color: $ring-bottom-color;
  }
}

.loading4 {
  @include loading-spinner;
  &::after {
    content: "";
    width: 150px;
    height: 150px;
    margin-top: 215px;
    animation: spin2 cubic-bezier(.26,1.36,.74,-0.29) 3s;
  }
}

.loading5 {
  @include loading-spinner;
  &::after {
    content: "";
    width: 140px;
    height: 140px;
    margin-top: 220px;
    border-top-color: $primary-color;
    border-bottom-color: $secondary-color;
  }
}

.loading6 {
  @include loading-spinner;
    &::after {
      content: "";
      width: 130px;
      height: 130px;
      margin-top: 225px;
      border-top-color: $ring-top-color;
      border-bottom-color: $ring-bottom-color;
      animation: spin2 cubic-bezier(.26,1.36,.74,-0.29) 3s;
  }
}