.search {
  &-btn__container {
    padding: 10px 30px 10px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  & .btn {
    @include colorful-btn($list-color);
    /*box-shadow: 0px 8px 10px #cdcdcd;*/
  }
}