/*keyframes apparition menus*/

@keyframes fade1 {
  0% {
    opacity: 0; 
    transform: translateY(-5px)
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
    transform: translateY(0px)
  }
}

@keyframes fade2 {
  0% {
    opacity: 0; 
    transform: translateY(-5px);
  }
  85% {
    opacity: 0;
    transform: translateY(-5px)
  }
  100% {
    opacity: 1; 
    transform: translateY(0px);
  }
}

@keyframes fade3 {
0% {
    opacity: 0; 
    transform: translate(-5px) 
  }
  95% {
    opacity: 0;
    transform: translateY(-5px)
  }
  100% {
    opacity: 1; 
    transform: translateY(0px)
  }
}

@keyframes fade4 {
  0% {
      opacity: 0; 
      transform: translate(-5px) 
    }
    98% {
      opacity: 0;
      transform: translateY(-5px)
    }
    100% {
      opacity: 1; 
      transform: translateY(0px)
    }
  }

/*rotation coche*/
@keyframes rotate{
  from {
    opacity:0;
    transform: rotate(-200deg);
    animation-delay: 2s;
 }
  to {
    opacity:1;
    transform:  rotate(0deg);
  }
}

/*loading spinner (fade-out du main*/
@keyframes body-fade-out {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*icon couverts spinner*/ 
@keyframes miam {
  0% {
    opacity: 1;
    visibility: visible;
  }
  98% {
    opacity: 0.8;
    
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*loading spinner*/
@keyframes spin {
  0% {
    transform: rotateZ(360deg); 
    opacity: 1;
  }
  100% {
    transform: rotateZ(0);
    opacity: 0;
  }
}

@keyframes spin2 {
  0% {
    transform: rotateZ(-360deg); 
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: rotateZ(0);
    opacity: 0;
  }
}
