
/*---------fade-out du main----------*/
@keyframes body-fade-out {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*----------loading spinner-----------*/

/*rotation des cercles vers la droite*/
@keyframes spin {
  0% {
    transform: rotateZ(360deg); 
    opacity: 1;
  }
  100% {
    transform: rotateZ(0);
    opacity: 0;
  }
}

/*rotation des cercles vers la gauche*/
@keyframes spin2 {
  0% {
    transform: rotateZ(-360deg); 
    opacity: 1;
  }
  100% {
    transform: rotateZ(0);
    opacity: 0;
  }
}

/*icon couverts spinner*/ 
@keyframes miam {
  0% {
    opacity: 1;
    visibility: visible;
  }
  98% {
    opacity: 0.8;
    
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*-------------keyframes apparition menus-------------------*/
@keyframes fade1 {
  0% {
    opacity: 0; 
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

@keyframes fade2 {
  0% {
    opacity: 0; 
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

@keyframes fade3 {
0% {
    opacity: 0; 
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

@keyframes fade4 {
  0% {
      opacity: 0; 
    }
    98% {
      opacity: 0;
    }
    100% {
      opacity: 1; 
    }
  }

/*rotation coche*/
@keyframes rotate{
  from {
    opacity: 0;
    transform: rotate(-1turn);
 }
  to {
    opacity: 1;
    transform:  rotate(0turn);
  }
}





