.search {
  &-info {
    display: flex;
    flex-direction: column;
    padding: 0.5625rem;
    align-items: center;
    background-color: $pages-color;
    &__heading {
      font-size: 1.7rem;
      font-family: 'roboto', sans-serif;
      text-align: center;
      font-weight: bold;
      padding: 0.3125rem 2.0625rem;
      margin: 0.3125rem;
    }
    &__byline {
      text-align: center;
      line-height: initial;
      font-size: 1.1rem;
      padding-top: 0.3125rem;
      padding-bottom: 0.9375rem;
      margin: 0.3125rem;
    }
  }
}