.fonctionnement {
  padding: 20px;
  margin-bottom: 20px;
  &__heading {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.625rem 0 1.25rem;
    /*position: relative;
    left: -5px;*/
    @include tablette {
      justify-content: center;
      /*margin: 10px 0;*/
      margin-bottom: 20px;
    }
    @include big-tablette {
      justify-content: center;
      margin-bottom: 20px;
    }
    @include desktop {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  & ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }
    > li {
      @include standard-btn; 
      width: 315px;
      display: flex;
      align-items: baseline;
      margin-bottom: 25px;
      font-weight: bold;
      box-shadow: 0px 10px 12px #eaeaea;

      /*encare bleu de la liste fonctionnement*/
    + .blue {
      background-color: #f5edff;
    }
  }

  & span {
    padding: 5px 9px;
    font-size: 0.8rem;
    font-weight: normal;
    color: $text-color;
    background-color: $primary-color;
    border: 0 solid $primary-color;
    border-radius: 50%;
    position: relative;
    right: 40px;
    bottom: 2px;
    }
    & .fas.fa-store {
      color: $primary-color;
    }
  & i {
    position: relative;
    right: 20px;
    color: #7e7e7e;
    }
  }
  /*@include fonctionnement;*/
}

/*@media screen and (min-width: 511px) {/*
  .fonctionnement ul{
    li {
      width: 70%;
    }
  }
}*/