.resto {
  background-color: $pages-color;
  &__heading {
    margin-left: 1.3rem;
    padding: 30px 0 20px;
    font-size: 1.3rem;
    font-weight: bold;
    @include tablette {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    @include big-tablette {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    @include desktop {
      display: flex;
      /*justify-content: center;*/
      margin-bottom: 20px;
      margin-left: 0;
      justify-content: center;
    }
    @include big-desktop {
      display: flex;
      /*justify-content: center;*/
      margin-bottom: 20px;
      margin-left: 0;
      justify-content: center;
    }
  }
  &-cards {
    padding-bottom: 40px;
  @include tablette {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
   @include desktop {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: /*space-around*/ center;
        flex-wrap: wrap;
      }
    }
    @include big-desktop {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: /*space-around*/ center;
        flex-wrap: wrap;
      }
    }
  
      li {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      max-width: 100%;
      @include tablette {
        width: 100%;
      }
      @include desktop {
        width: 310px;
        justify-content: center;
        margin-left: 30px;
      }
      @include big-desktop {
          width: 295px;
          justify-content: center;
          margin-left: 0;
      }
    > a {
      width: 90%;
      height: 250px;
      box-shadow: 5px 5px 20px #f2f2f2;
      background-color: #fff;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      @include tablette {
         width: 85%;
         margin-bottom: 15px;
        } 
        @include middle-tablette {
          width: 75%;
        }
        @include big-tablette {
          width: 50%;
        }
        @include desktop {
          /*width: 290px*/
          width: 100%;
        }
      & img {
        width: 100%;
        height: 68%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        object-position: bottom;
         @include tablette {
          object-position: 0 -85px;
        }
        @include big-tablette {
          object-position: unset;
        }
        @include desktop {
          object-position: 0 -35px;
        }
      }
    }
  }
      & .plat2 {
        object-position: 0px -150px;
        @include tablette {
          object-position: 0px -195px;
        }
        @include big-tablette {
          object-position: center;
        }
        @include desktop {
          object-position: 0px -125px;
        }
        @include desktop {
          object-position: 0px -105px;
        }
      } 
  

    &__tag {
      @include new-btn;
      @include tablette {
        top: -60%;
        left: 75%;
      }
      @include desktop {
        top: -60%;
        left: 215px;
      }
      @include big-desktop {
        top: -60%;
        left: 67%;
      }
    }

    &__overlay {
      @include desktop {
      top: -17px;
      } 
      & h3 {
      @include overlay-h3;
      }
      @include overlay;
    }

    &__overlay-2 {
      & h3 {
      @include overlay-h3;
      }
      @include overlay;
      top: 13px;
    }
    & .fas.fa-heart {
      @include heart-icon;
    } 
  } 
}
