
/*---------------------- lists -------------------------*/

/* color list for linear gradient*/
$list-color: $secondary-color, $primary-color;


/*-------------------------- Maps --------------------------*/

/*linear grandient map*/
$color-gradient: (gradient:linear-gradient(175deg,$list-color));

/*media queries breakpoints*/
$mobile-breakpoints : (min-mobile: 375px, max-mobile: 475px);

$tab-breakpoints: (min-tab: 475px, max-tab: 1100px, middle-tab-min:523px, middle-tab-max:610px, big-tab-min: 720px, big-tab-max: 1189px );

$desktop-breakpoints: (min-desktop: 1190px, max-desktop: 1920px, footer-desktop: 600px);