
/*list*/
$list-color: $secondary-color, $primary-color;

/*mixins*/

/*mixins btn*/
@mixin colorful-btn_container {
  padding: 10px 30px 10px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@mixin colorful-btn($list) {
  background: map-get($color-gradient, gradient);
  color: $text-color;
  font-size: 1.1rem;
  padding: 1.0625rem 2.121rem;
  border: 0;
  border-radius: 30px;
  box-shadow: 0px 8px 10px #cdcdcd;
  transition: box-shadow 1s ease-in-out;
    &:hover {
      cursor: pointer;
        opacity: 0.9;
        box-shadow: 0 9px 10px #b9b9b9;
      }
}

@mixin standard-btn {
    background-color: $pages-color;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 20px;
}

@mixin new-btn {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  background: $tertiary-color;
  border: solid 0;
  border-radius: 2px;
  padding: 6px;
  width: 80px;
  position: relative;
  top: -64%;
  /*bottom: 64%;*/
  left: 71%;
  color: darken($tertiary-color, 40%);
}

@mixin check-btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -11px;
  right: -5px;
  background-color: $tertiary-color;
  padding: 20px 40px 20px 25px;
  width: 0px;
  border-radius: 0px 15px 15px 0;
  border: none;
}




/*mixins resto cards overlay*/
@mixin overlay {
  /*new*/display: flex;
  /*new*/flex-direction: column;
  position: relative;
  top: -17px;
  left: 20px;
  line-height: 1.3;
  /*new*/width: 90%;
  /*new*/height: 25%;
}

@mixin overlay-h3 {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.7;
  letter-spacing: 0.3px;
}

/*mixins titles & subtitles*/
@mixin menu-heading {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px 25px 20px;
    font-size: 2rem;
}

@mixin menus-subtitles {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-left: 0;
  padding-bottom: 5px;
  margin-left: 18px;
  margin-bottom: 20px;
  width: 45px;
  align-self: flex-start;
  border-bottom: solid 3px;
  border-bottom-color: $tertiary-color ;
}

/*mixins icons*/
@mixin check-icon {
  color: $text-color;
  border-radius: 50%;
  font-size: 25px;
  position:relative;
  top: 2px;
  right: 7px;
}

@mixin heart-icon {
  position: relative;
  top: -40px;
  right: 0;
  padding-right: 10px;
  font-weight: normal;
  font-size: 1.6rem;
  align-self: flex-end;
  /*transition: color;
  &:hover {
    /*font-weight: bold;
    color: red;
    cursor: pointer;*/
  }

@mixin heart-bg {
  background-color: black;
  height: 12px;
  top: 225px;
  right: 28px;
  transform: rotate(-45deg);
  position: absolute;
  width: 12px;
  cursor: pointer;
}

/*mixins media queries talette*/

/*@mixin tablette {
  @media screen and (min-width: map-get($tab-breakpoints, min-tab)) and (max-width: map-get($tab-breakpoints, max-tab)) {
    @content;
  }
}*/

@mixin mobile {
  @media screen and (min-width: map-get($mobile-breakpoints, min-mobile)) and (max-width: map-get($mobile-breakpoints, max-mobile)) {
    @content;
  }
}

/*@mixin desktop {
  @media screen and (min-width: map-get($desktop-breakpoints, min-desktop)) and (max-width: map-get($desktop-breakpoints, max-desktop)) { 
    @content
  } 
}*/

@mixin tablette {
  @media screen and (min-width: map-get($tab-breakpoints, min-tab)) and (max-width: map-get($tab-breakpoints, max-tab)) { 
    @content;
  } 
}

@mixin middle-tablette {
  @media screen and (min-width: map-get($tab-breakpoints, middle-tab-min)) and (max-width: map-get($tab-breakpoints, middle-tab-max)) { 
    @content;
  } 
}

@mixin big-tablette {
  @media screen and (min-width: map-get($tab-breakpoints, big-tab-min)) and (max-width: map-get($tab-breakpoints, big-tab-max)){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($desktop-breakpoints, min-desktop)) and (max-width: map-get($desktop-breakpoints, max-desktop)) { 
    @content;
  } 
}

/*footer*/
@mixin footer-desktop { 
  @media screen and (min-width: map-get($desktop-breakpoints, footer-desktop)) { 

  .footer {
    padding-bottom: 40px;
    margin-bottom: 5px;
    &__heading {
      text-align: center;
      padding-bottom: 2rem;
    }
    &__list {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      }
    } 
  }
}
  