/*mixins*/

/*mixins btn*/
@mixin colorful-btn_container {
  padding: 10px 30px 10px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@mixin colorful-btn {
  background: map-get($color-gradient, gradient);
  color: $text-color;
  font-size: 1.1rem;
  padding: 1.0625rem 2.121rem;
  border: 0;
  border-radius: 30px;
  box-shadow: 0px 8px 10px #cdcdcd;
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 9px 10px #adacac;
  }
}

/*btn gris de la partie fonctionnement*/
@mixin standard-btn {
  background-color: $pages-color;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 20px;
}

/*tag new*/
@mixin new-btn {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  background: $tertiary-color;
  border: solid 0;
  border-radius: 2px;
  padding: 6px;
  width: 80px;
  color: darken($tertiary-color, 40%);
}

/*bouton vert coulissant*/
@mixin check-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: $tertiary-color;
  padding: 21px 30px 21px 30px;
  width: 0px;
  border-radius: 0px 15px 15px 0;
  border: none;
}

/*mixins resto cards overlay*/
@mixin overlay {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 20px;
  line-height: 1.3;
  width: 90%;
  height: 25%;
}

@mixin overlay-h3 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.7;
  letter-spacing: 0.3px;
}

/*mixins titles & subtitles partie "body-menu*/
@mixin menu__heading {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px 25px 20px;
    font-size: 2rem;
}

@mixin menus--subtitles {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-left: 0;
  padding-bottom: 5px;
  margin-left: 18px;
  margin-bottom: 20px;
  width: 45px;
  align-self: flex-start;
  border-bottom: solid 3px;
  border-bottom-color: $tertiary-color ;
  @include little-mobile {
    font-size: 1rem;
  }
}

/*mixins icons*/
@mixin check-icon {
  color: $text-color;
  font-size: 25px;
  position: relative;
}

/*logo coeur + changement couleur au survol*/
@mixin heart-icon {
  position: relative;
  top: -40px;
  right: 0;
  padding-right: 10px;
  font-weight: normal;
  font-size: 1.6rem;
  align-self: flex-end;
  transition: color 0.2s;
    &:hover {
    cursor: pointer;
    color: transparent;
    font-weight: bold;
    }
    &:before {
    background: map-get($color-gradient, gradient);
    -webkit-background-clip: text;
    }
  }

  /*loading spinner*/
  @mixin loading-spinner {
      display: flex;
      justify-content: center;
      z-index: -500;
      &::after {
        content: "";
        width: 180px;
        height: 180px;
        margin-top: 200px;
        position: absolute;
        background:rgb(255, 255, 255, 0.3);
        border: 3px solid #f6f6f6;
        border-radius: 50%;
        border-top-color: $tertiary-color;
        border-bottom-color: #fffd79;
        opacity: 0;
        animation: spin cubic-bezier(.26,1.36,.74,-0.29) 3s;
    }
  }

  /*mise en page*/
  @mixin ellipsis-param {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @mixin plat-paramètres {
    object-fit: cover;
    position: absolute;
    height: 279px;
    width: 100%;
  }

  @mixin plat-rond {
    border-radius: 50%;
    width: 400px;
    height: 370px;
    top: 90px;
    margin-left: 10px;
  }

  @mixin plat-rond-desktop-size {
    width: 26.875rem;
    height: 25rem;
  }

  @mixin plat-rond-big-desktop-size {
    width: 33.43rem;
    height: 30.31rem;
    margin-left: 1.25rem;
  }

  @mixin main-heading__flex {
    display: flex;
    justify-content: center;
  }

  @mixin menus-container__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @mixin menus-background--colors {
    background-color: #fff;
    background-image: linear-gradient(35deg, transparent 4%, #fbfbfb 30%, transparent 25%, #9356dc, transparent 85%);
    opacity: 0.9;
  }


/*mixins media queries*/
@mixin little-mobile {
  @media screen and (min-width: map-get($mobile-breakpoints, little-mobile-min)) and (max-width: map-get($mobile-breakpoints, little-mobile-max)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: map-get($mobile-breakpoints, min-mobile)) and (max-width: map-get($mobile-breakpoints, max-mobile)) {
    @content;
  }
}

@mixin tablette {
  @media screen and (min-width: map-get($tab-breakpoints, min-tab)) and (max-width: map-get($tab-breakpoints, max-tab)) { 
    @content;
  } 
}

@mixin middle-tablette {
  @media screen and (min-width: map-get($tab-breakpoints, middle-tab-min)) and (max-width: map-get($tab-breakpoints, middle-tab-max)) { 
    @content;
  } 
}

@mixin big-tablette {
  @media screen and (min-width: map-get($tab-breakpoints, big-tab-min)) and (max-width: map-get($tab-breakpoints, big-tab-max)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($desktop-breakpoints, min-desktop)) and (max-width: map-get($desktop-breakpoints, max-desktop)) { 
    @content;
  } 
}

@mixin big-desktop {
  @media screen and (min-width: map-get($desktop-breakpoints, big-desktop-min)) { 
    @content;
  }
}



