/*variables colors*/

$footer-background: #353535;
$pages-color: #f6f6f6; /*couleur de fond gris*/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #98e2cf;
$text-color: #fff;
$ring-top-color: #FEAC5E;
$ring-bottom-color: #4BC0C8;